/* Overall font */

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Form title margin */

h1 {
    margin: 0;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=select] {
    padding: 12px 20px;
    margin: 8px 0;
}

select#csv {
    width: 150px;
    display: block;
}

select#expire-month, select#expire-year {
    height: 40px;
    width: 100px;
    margin: 0 20px 0 20px;
}

p.small {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 1.3em;
    color: gray;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
}

/* The "Forgot password" background color and padding */
.password {
    background-color: #f1f1f1;
    padding-bottom: 30px;
}

/* Change styles for span button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}