body {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width:75%;
    margin: auto;
    background-color: azure;
    border: 1px darkgray solid;
    padding: 0 2em 2em 2em;
}

.text-field {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.feelings {
    display: block;
    padding-bottom: 1.2em;
    font-weight: bold;
}

label {
    padding-right: 2em;
}

input[type="text"]:focus {
    background-color: lightgreen;

}

input#submit {
    width: 20%;
    margin: 1em 0 0 0;
    padding: 0.5em;
    background-color: forestgreen;
    border-radius: 0.5em;
    border: 3px darkgreen solid;
    color: white;
    font-size: 1em;
    display: block;
}

input#submit:hover {
    text-decoration: underline;
    cursor: pointer;
}

input#submit:active {
    background-color: white;
    color: darkgreen;
}