body {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width:75%;
    margin: auto;
    background-color: azure;
    border: 1px darkgray solid;
    padding: 0 2em 2em 2em;
}



input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
    width: 50%;
    margin: 1em 0 1em 0;
    padding: 1em;
    display: block;
    border-radius: 0.5em;
    border: 1px darkgreen solid;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="password"]:focus {
    background-color: lightgreen;


}

button[type="button"] {
    width: 20%;
    margin: 1em 0 0 0;
    padding: 1em;
    background-color: forestgreen;
    border-radius: 0.5em;
    border: 3px darkgreen solid;
    color: white;
    font-size: 1em;
}

button[type="button"]:hover {
    text-decoration: underline;
}

button[type="button"]:active {
    background-color: white;
    color: darkgreen;
}
